body {
	background-color: #242424;
	color: white;
	font: 400 13px "Source Sans Pro", sans-serif;
}

.header {
	margin-right: 50px;
	margin-left: 50px;
}

.header .hdr-logo {
	font-size: 50px;
	padding-top: 35px;
	padding-bottom: 35px;
}

.header .hdr-logo img {
	height: 100px;
	vertical-align: middle;
}

.header .hdr-text {
	font-size: 32px;
	text-align: center;
}

.header .hdr-app-button {
	position: absolute;
	top: 10px;
	right: 58px;
}

.exhibits-container {
	margin: 40px 50px;
}

@media screen and (max-width: 480px) {
	.header {
		margin-right: 20px;
		margin-left: 20px;
	}
	.header .hdr-app-button {
		right: 28px;
	}
	.exhibits-container {
		margin: 30px 20px;
	}
}

.grid {
	border: 1px solid #0072c6;
	border-radius: 9px;
	list-style: none;
	background: #0072c6;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
	overflow: hidden;
}

.grid .grid-img {
	width: 100%;
	vertical-align: middle;
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.grid:hover .grid-img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.grid .grid-img.img-loaded {
	visibility: visible;
	opacity: 1;
}

.exh-details {
	/* 	background-color: #0072c6; */
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.exh-details .exh-desc {
	font-size: 14px;
}

.exh-details .exh-category {
	color: #242424;
}